@model PaulaPires.Models.ModeloHtml

<article class="miolo">
    <nav>
        <h1 class="tit size-25">@Model.Pagina.TituloPagina</h1>
        
        <div class="sub2">
            <a href="#">Vídeo de Apresentação</a>
        </div>       
        

        <div class="cl"></div>


        <div class="size"><a href="javascript:sizeMenos()" class="size-menos">-A</a> &nbsp;<a href="javascript:sizeMais()" class="size-mais">+A</a></div>
        <!--
                <div class="sub">
                	<a href="#">Vídeo de Apresentação</a>
                </div>
                
                <div class="cl"></div>
                
                <div class="sub2">
                	<a href="#">Vídeo de Apresentação</a>
                    <div class="cl"></div>
                </div>
                -->

        <div class="cl"></div>
    </nav>
    <div class="texto">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Conteudo));
    </div>
    <div class="foto">
        <img src="/img/paginasHTML/@Model.Imagem" alt="@Model.DescImagem">
    </div>
    <!--
            <div class="video">
                <object width="555" height="312">
                <param name="movie" value="http://www.youtube.com/v/Qwpz_6DWVXQ?hl=pt_BR&amp;version=3"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="allowscriptaccess" value="always"></param>
                <embed src="http://www.youtube.com/v/Qwpz_6DWVXQ?hl=pt_BR&amp;version=3" type="application/x-shockwave-flash" width="555" height="312" allowscriptaccess="always" allowfullscreen="true"></embed>
                </object>
            </div>
            -->
    <div class="share">
        <div class="share-fb">
            <div class="fb-share-button" data-href="http://astrologiaalquimica.com.br/_temp/" data-type="button_count"></div>
        </div>
        <div class="share-tw"><a href="http://astrologiaalquimica.com.br/_temp/" class="twitter-share-button" data-via="Paula Pires" data-lang="en">Tweet</a></div>
        <div class="share-go">
            <div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://astrologiaalquimica.com.br/_temp/"></div>
        </div>

        <div class="cl"></div>

        <div class="comments-fb">
            <div class="fb-comments" data-href="http://astrologiaalquimica.com.br/_temp/" data-width="555" data-numposts="1" data-colorscheme="light"></div>
        </div>
        <!--
                <div class="comments-go"><div class="g-comments" data-href="http://astrologiaalquimica.com.br/_temp/" data-width="555" data-first_party_property="BLOGGER" data-view_type="FILTERED_POSTMOD"></div></div>
-->
    </div>
</article>
